.git/
.venv/
.venvtrain/
.idea/
.vscode/
__pycache__/
*.pyc

.streamlit/credentials.toml

log.txt
log0.txt
test.txt

audio/*
!audio/.gitkeep

venv
test
archive
archive/test.txt
archive/test1.txt

model_tal.h5
our_streamlit_key.pem
streamlit.pem
